html {
  font-family: 'Didot', 'GillSans', 'Calibri', Trebuchet, sans-serif;
}

.nav-wrapper, footer.page-footer {
  background-color: #1D160E;
}

nav .brand-logo {
  padding-left: 1%;
  font-size: 1.25rem
}

a.brand-logo, a {
  color: #E5AE6F;
}

header {
  background-image: url('../img/restaurant.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: transparent;
  height: 650px;
  justify-content: center;
  flex-direction: column;
  color: #E5AE6F;
}

header > a {
  margin-top: 3%;
}

h1 {
  font-size: 540%;
  font-weight: 800;
  text-shadow: 3px 0px 0px black;
  font-family: 'Snell Roundhand', 'Din', Helvetica;
}

.center, .center-align {
  margin-top: 0%;
}

a.waves-effect {
  background-color: #40301F;
  color: #E5AE6F;
  border-radius: 10px;
  width: 158px;
  height: 5%;
  font-size: 81%;
}

ul > li > a {
  color: #E5AE6F;
}

main {
  margin-top: 4%;
}

i, span.landing {
  color: #40301F;
  font-size: 20px;
}

i.small {
  font-size: 1.5rem;
}

span.landing {
  margin-left: 20px;
}

.paragraphs {
  font-size: 100%;
  padding-bottom: 10%;
}

th {
  font-weight: bold;
}

.btn, .btn-large {
  background-color: #40301F;
  color: #E5AE6F;
  border-radius: 3%;
  margin-top: 20px;
  width: 180px;
  border-radius: 3%;
}

.btn:hover, .btn-large:hover {
    background-color: #1D160E;
}

h4 {
    font-size: 1.95rem;
    line-height: 110%;
    margin: 2.14rem 0 0.982rem 0;
}

table {
  font-size: 95%;
}

#order-confirmation {
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
  color: #1D160E;
}

.card .card-content {
  padding: 15px;
}

.card .card-title {
    font-size: 20px;
    font-weight: 300;
}

.card .card-content p{
  font-size: 90%;
}

.card .card-action {
  padding: 15px;
  font-size: 87%;
  font-weight: 600;
}

.container {
  width: 75%;
}

h5 {
  font-size: 1.44rem;
}

.grey-text.text-lighten-4 {
    font-size: 85%;
}

footer.page-footer {
  background-color: #1D160E;
}
